.WeatherForecast {
  text-align: center;
  margin-top: 70px;
  color: #ec6e4c;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

.WeatherForecast img {
  margin-top: 0;
  margin-bottom: 20px;
  height: 64px;
  width: 64px;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}
