body {
  max-width: 600px;
  height: 750px;
  margin: 40px auto;
  border-radius: 15px;
  border: 1px solid white;
  box-shadow: #d4d4d4 0px 0px 10px;
}

.searchForm {
  padding: 10px;
  position: relative;
  margin-top: 140px;
  margin-left: 520px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  background: #f2f2f1;
}

.btn-primary {
  position: relative;
  margin-top: 30px;
  width: 100px;
  padding: 10px;
  margin-left: 50px;
}

.btn-light {
  position: relative;
  top: -55px;
  margin-left: 170px;
  width: 100px;
  padding: 2px;
}

.card {
  position: relative;
  display: block;
  width: 500px;
  height: 320px;
  margin-left: 10px;
  margin-top: 80px;
  padding: 20px;
  border: 1px;
  border-radius: 8px;
  background: rgba(188, 198, 235, 0.2);
}

.card-body {
  display: block;
  position: absolute;
  margin-left: -280px;
  margin-top: 60px;
  padding: 3px;
}

.card-body h1 {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 200;
  color: #ec6e4c;
  line-height: 40px;
  font-style: normal;
  align-items: center;
}

.card-body h2 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: bolder;
}

.card-body h3 {
  font-family: "Sawarabi Mincho", serif;
  font-size: 28px;
  font-weight: 100;
}

.temp-description {
  font-family: "Sawarabi Mincho", serif;
  color: #592e83;
}

.row {
  max-width: 600px;
  position: relative;
  text-align: center;
  align-items: center;
  font-family: "Catamaran", sans-serif;
  font-size: 18px;
  color: #6f4886;
  margin-top: -300px;
  margin-left: 450px;
}

h6 {
  text-align: left;
  color: rgb(14, 17, 201);
}

p {
  position: absolute;
  margin: 0;
  color: #ec6e4c;
  font-weight: bolder;
}

p::first-letter {
  text-transform: capitalize;
}

img {
  margin-left: -450px;
  margin-top: 340px;
  display: block;
  width: 150px;
}

.footer {
  margin-top: 400px;
  text-align: center;
  font-size: small;
}
.active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
